<!-- Dropdown -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"> Armas </a>
    <ul class="dropdown-menu">

        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Rifles</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">AK-47</a></li>


            </ul>
        </li>
        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">SMG</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">UMP</a></li>


            </ul>
        </li>
        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Pesado</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Nova</a></li>


            </ul>
        </li>
        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Pistolas</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">USP-S</a></li>


            </ul>
        </li>
    </ul>
</li>