.nav-link:hover {
    color: rgb(247, 198, 0) !important;
}


/***** DROPDOWN *****/

li:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}

.icono-rifle {
    background-image: url("../../../assets/img/iconos-dropdown/ak.png");
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}