<div class="todo">

    <div class="cont-titulo">
        <h1>Updates</h1>
    </div>

    <div class="cont-updates">
        <app-listaupdates></app-listaupdates>
    </div>

    <div class="cont-nuevo">
        <!-- Boton activador Modal -->
        <button type="button" class="btn btn-success aniadir" data-toggle="modal" data-target="#modalUpdate">Nuevo Update</button>

        <!-- Modal -->
        <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdate" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalUpdate">Añadir Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <form [formGroup]="formUpdate" id="form-add">
                        <div class="modal-body">
                            <h4>Titulo</h4>
                            <input type="text" formControlName="titulo" class="input-titulo">
                            <h4>Contenido</h4>
                            <textarea formControlName="contenido" class="input-textarea"></textarea>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" (click)="addUpdate()" class="btn btn-success">Añadir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>