.todo {
    width: 100%;
    height: 100%;
    /****/
    display: flex;
    flex-direction: column;
    /****/
    color: white;
}

.cont-updates {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left center right";
}

.cont-left {
    width: 100%;
    height: 100%;
    grid-area: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-center {
    width: 100%;
    height: 100%;
    grid-area: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.cont-right {
    width: 100%;
    height: 100%;
    grid-area: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.espaciado {
    margin: 5%;
}

.cont-add {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    display: none;
}

.cont-add-visible {
    display: flex;
}

.input-titulo {
    width: 50%;
    border-radius: 5px;
}

.input-textarea {
    width: 50%;
    height: 200px;
    border-radius: 5px;
}