<div class="todo">
    <h1>Updates</h1>
    <div class="cont-updates">

        <div class="cont-left">
            <button type="button" class="btn btn-success" (click)="mostrarAdd()">Nueva Actualización</button>
        </div>
        <div class="cont-center">
            <app-listaupdates></app-listaupdates>
        </div>
        <div class="cont-right">

        </div>
    </div>
    <div id="form-add" class="cont-add">
        <h3>Titulo</h3>
        <input type="text" class="input-titulo">
        <h3>Contenido</h3>
        <textarea class="input-textarea"></textarea>
    </div>

</div>