.todo {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.cont-login {
    min-width: 400px;
    min-height: 300px;
    margin: auto auto;
    /*****/
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 10px;
}