.todo {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: "cabecera" "cuerpo";
}

.cabecera {
    grid-area: cabecera;
    background-color: rgba($color: #fd00c6, $alpha: 0.1);
}

.cuerpo {
    grid-area: cuerpo;
}