<div class="todo">
    <div class="cont-titulo">
        <h1>Perfil</h1>
    </div>
    <div class="cont-perfil">
        <h3>Cambio de contraseña</h3>
        <form [formGroup]="formUpdatePass" class="box" (submit)="submit()">
            <input class="input-password" type="text" placeholder="Usuario" formControlName="upass_usuario">
            <input class="input-password" type="password" placeholder="Antigüa Contraseña" formControlName="upass_password">
            <input class="input-password" type="password" placeholder="Nueva Contraseña" formControlName="upass_new_password">

            <button class="btn btn-success boton" type="submit">Cambiar</button>
        </form>
    </div>
</div>