.todo {
    width: 100%;
    height: 100%;
    color: white;
}

.cont-perfil {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.cont-centrado {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advertencia {
    font-style: italic;
    font-weight: 500;
}

.pass {
    width: 100%;
    margin-top: 2%;
}

.boton {
    width: 150px;
}

.input {
    margin-top: 10px;
    width: 60%;
    border-radius: 10px;
    text-align: center;
}