.todo {
    height: 100vh;
    width: 100vw;
    /******/
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: "cabecera" "cuerpo";
    /******/
    background-image: url('../../../../assets/img/fondo.jpg');
    background-size: 100% 100%;
}

.cabecera {
    grid-area: cabecera;
}

.main {
    grid-area: cuerpo;
}