.nav-link:hover {
    color: rgb(247, 198, 0) !important;
}

li:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}

.icono {
    width: 40px;
    height: 20px;
}

.rifle {
    content: url("../../../../assets/img/iconos-dropdown/ak.png");
}

.smg {
    content: url("../../../../assets/img/iconos-dropdown/smg.png");
}

.pesado {
    content: url("../../../../assets/img/iconos-dropdown/ak.png");
}

.pistola {
    content: url("../../../../assets/img/iconos-dropdown/ak.png");
}