.cont-general {
    /*Display*/
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 7fr;
    grid-template-areas: "logo updates mapas armas .";
    /*Tamaño*/
    min-height: 100%;
    /*Fondo*/
    background-color: rgba($color: #0e153b, $alpha: 0.9);
}

.cont-logo {
    grid-area: logo;
    min-width: 200px;
}

.logo {
    width: 100%;
    height: 100%;
}

.updates {
    grid-area: updates;
}

.mapas {
    grid-area: mapas;
}

.armas {
    grid-area: armas;
}

.enlace {
    /*Fuente*/
    font-family: 'Open Sans', sans-serif;
    color: rgba($color: #888888, $alpha: 1.0);
    font-size: 1.5em;
    text-decoration: none;
}

.enlace:hover {
    color: rgba($color: #d4b529, $alpha: 1.0);
}

.centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}