.cont-general {
    /*Tamaño*/
    height: 100%;
    width: 100%;
}


/****** CABECERA ******/

.logo {
    /*Tamaño*/
    width: 200px;
}

.nav-link:hover {
    color: rgb(247, 198, 0) !important;
}

.nav-item {
    margin-left: 20px;
    font-family: Noto Sans;
}

.color_barra {
    /*Fondo*/
    background-color: rgba(9, 24, 69, 0.95);
}


/*********************/