<div class="tabla">
    <div class="titulos">
        <div class="col-tabla">ID</div>
        <div class="col-tabla nombre">Nombre</div>
        <div class="col-tabla">Fecha</div>
    </div>
    <div class="fila">
        <div class="col-tabla">1</div>
        <div class="col-tabla nombre">Operacion Hydra</div>
        <div class="col-tabla">11-05-2019</div>

    </div>
    <div class="fila">
        <div class="col-tabla id">1</div>
        <div class="col-tabla nombre">Operacion Hdddddddddddddddddddffffffffffffffffffffffffffdddddddddddfydra</div>
        <div class="col-tabla">11-05-2019</div>

    </div>
    <div class="fila">
        <div class="col-tabla id">1</div>
        <div class="col-tabla nombre">Operacion Hdddddddddddddddddddffffffffffffffffffffffffffdddddddddddfydra</div>
        <div class="col-tabla">11-05-2019</div>

    </div>
    <div class="fila">
        <div class="col-tabla id">1</div>
        <div class="col-tabla nombre">Operacion Hdddddddddddddddddddffffffffffffffffffffffffffdddddddddddfydra</div>
        <div class="col-tabla">11-05-2019</div>

    </div>
    <div class="fila">
        <div class="col-tabla id">1</div>
        <div class="col-tabla nombre">Operacion Hdddddddddddddddddddffffffffffffffffffffffffffdddddddddddfydra</div>
        <div class="col-tabla">11-05-2019</div>

    </div>
    <div class="fila">
        <div class="col-tabla id">1</div>
        <div class="col-tabla nombre">Operacion Hdddddddddddddddddddffffffffffffffffffffffffffdddddddddddfydra</div>
        <div class="col-tabla">11-05-2019</div>

    </div>
    <div class="fila">
        <div class="col-tabla id">1</div>
        <div class="col-tabla nombre">Operacion Hdddddddddddddddddddffffffffffffffffffffffffffdddddddddddfydra</div>
        <div class="col-tabla">11-05-2019</div>

    </div>
    <div class="fila">
        <div class="col-tabla id">1</div>
        <div class="col-tabla nombre">Operacion Hdddddddddddddddddddffffffffffffffffffffffffffdddddddddddfydra</div>
        <div class="col-tabla">11-05-2019</div>

    </div>
</div>