.contenedor {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}

.tabla {
    width: 100%;
    display: table;
    /*****/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(224, 224, 224);
}

.fila {
    display: table-row;
}

.fila:hover {
    background: rgba(68, 186, 207, 0.164);
}

.titulos {
    display: table-header-group;
    font-weight: bold;
}

.col-tabla {
    display: table-cell;
    padding: 12px;
    overflow-x: hidden;
    border-top: 1px solid rgb(190, 190, 190);
}

.id {
    max-width: 20%;
}

.nombre {
    max-width: 250px;
}