<div class="todo">
    <div class="sidebar">
        <a href="/"><img src="../../../../assets/img/logo.png" class="logo"></a>
        <div class="cont-botones-side">
            <a routerLink="updates" class="link-side">UPDATES</a>
            <a routerLink="armas" class="link-side">ARMAS</a>
            <a routerLink="mapas" class="link-side">MAPAS</a>
            <a routerLink="cajas" class="link-side">CAJAS</a>
            <a routerLink="perfil" class="link-side">PERFIL</a>

        </div>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>