.todo {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 5fr;
    grid-template-areas: "barra" "main";
    /*****/
    background-image: url("../../../../assets/img/fondo_admin.jpg");
    background-size: 100% 100%;
    background-attachment: scroll;
    overflow-y: auto;
}

.menu {
    grid-area: barra;
    width: 100%;
    height: 100%;
}

.logo {
    width: 200px;
}

.nav-link:hover {
    color: rgb(247, 198, 0) !important;
}

.nav-item {
    margin-left: 20px;
    font-family: Noto Sans;
}

.color_barra {
    background: rgba(0, 117, 128, 0.596);
}

.main {
    height: 100%;
    width: 100%;
    grid-area: main;
}